<h3>Title: <%=@course.course_title %></h3>
<h3>Code: <%=@course.course_code %></h3>
<h5>Credit: <%=@course.course_credit %></h5>
<h5>Teacher: <%=@course.teacher.name %></h5>
<h5>Semester: <%=@course.semester %></h5>

<br/>

<h3>Enrolled Students</h3>

<%if @course.taken_courses.count < 1%>
  <h3>No Students available!</h3>
<%else %>
  <table class="table table-hover" >
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>GPA</th>

    </tr>
    </thead>
    <tbody>
    <% @course.taken_courses.each do |taken_course| %>
      <tr>
       <td><a href="<%=viewed_by_others_path(taken_course.student) %>"><%=taken_course.student[:name] %></a></td>
        <td><%=taken_course.student[:phone] %></td>
        <td><%=taken_course.student[:email] %></td>

          <td>
            <form action="<%=add_gpa_path(taken_course) %>" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

              <div >
                <div id="gpaform" class="col-auto">
                  <%if taken_course.gpa.nil? and current_user.role == 'student' %>
                  <%= 'N/A' %>
                  <%else %>
                    <%if current_user.role != 'student' or (current_user.role == 'student' and taken_course.student == current_user) %>
                    <select id="gpa_input"
                            class="custom-select my-1 mr-sm-2"
                            name="<%="gpa" %>"
                            <% if current_user.role == 'student' or (current_user.role=='department_head' and current_user.department_head_department_id != @course.department_id) or (current_user.role == 'teacher' and @course.teacher != current_user)%>
                            disabled
                            <%end %>
                            >
                      <%if taken_course.gpa.nil? %>
                        <option value="nil" selected>N/A</option>
                      <%end %>
                      <% @gradeList.each do |grade,value| %>
                        <!--                      <td>TakenGpa: <%#=@gradeList[taken_course.gpa] %>  Value: <%#=value %></td>-->

                        <% if @gradeList[taken_course.gpa] == value %>
                          <option value="<%=value %>" selected ><%=grade %> </option>
                        <%else %>
                          <option value="<%=value %>"><%=grade %></option>
                        <%  end %>
                      <% end %>
                    </select>
                      <%end %>
                    <% if current_user.role == 'student' or (current_user.role=='department_head' and current_user.department_head_department_id != @course.department_id) or (current_user.role == 'teacher' and @course.teacher != current_user)  %>
                      <%else %>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                      </div>
                    <% end%>
                  <%end %>

              </div>
            </form>
          </td>
        <% if current_user.role == 'student' or (current_user.role=='department_head' and current_user.department_head_department_id != @course.department_id) or (current_user.role == 'teacher' and @course.teacher != current_user)%>
        <%else %>
      <td><a href="<%=unenroll_by_admin_path(taken_course) %>">
          <input type="button" class="btn btn-outline-warning" value="Un-enroll" />
        </a></td>
        <%end %>
    <% end %>
    <td>

    </td>

    </tr>
    </tbody>
  </table>
<%end %>

