<br/>
<STYLE>A {text-decoration: none; color: black} </STYLE>

<%= search_form_for @q do |f| %>
<div class="searchEle">
  <%= f.search_field :name_or_email_or_phone_cont, class:"form-control mr-sm-2",placeholder:"Search"  %>
  <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" %>
</div>

<% end %>
<h3> User List</h3>
<% if @users.count <1 %>
  <h4>No User available!</h4>
<%else%>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Department</th>
      <th><%= sort_link(@q, :role)  %></th>
      <th>Edit</th>
      <%if current_user.role == 'admin' %>
    <th>Delete</th>
      <%end %>
    </tr>

    </thead>

    <tbody>
    <% @users.each do |user| %>
    <%if user.role != 'admin' %>
      <tr>
        <td><a href="<%=viewed_by_others_path(user) %>"><%=user.name %></a></td>
        <td><%=user.email %></td>
        <td><%=user.phone %></td>
        <td><%=user.address %></td>
        <%if user.role == 'student' %>
          <td><%=user.student_department.department_name %></td>
        <%elsif user.role == 'teacher' %>
          <td><%=user.teacher_department.department_name %></td>
          <%elsif user.role == 'department_head' %>
          <td><%=user.department_head_department.department_name %></td>
          <%else %>
        <td>N/A</td>
      <%end %>
        <td><%=user.role %></td>
        <td><a href="<%=edit_user_admin_path(user) %>">
          <input type="button" class="btn btn-outline-info" value="Edit" />
        </a></td>
        <% if current_user.role == 'admin' %>
        <td><a href="<%= delete_user_path(user) %>">
          <input type="button" class="btn btn-danger" value="Delete" />
        </a></td>
          <%end %>
        <%if user.role != 'api' %>
        <td><a href="<%=courses_list_user_path(user) %>">
          <input type="button" class="btn btn-outline-dark" value="Courses" />
        </a></td>
          <%else %>
        <td></td>
          <%end %>

        <td>
          <%if user.role == 'student' %>
        <a href="<%=user_grade_path(user) %>">
            <input type="button" class="btn btn-outline-primary" value="Grade Sheet" />
          </a>
          <%elsif user.role == 'api' and current_user.role == 'admin' %>
            <a href="<%=api_user_home_path(user) %>">
              <input type="button" class="btn btn-outline-success" value="Access Tokens" />
            </a>
        <%end %>
        </td>

      </tr>
  <%end %>
    <% end %>
    </tbody>
  </table>
<%end %>


<br/>