<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="<%=root_path %>">University Management System</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%=courses_path %>">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=departments_path %>">Departments</a>
      </li>
<%if current_user.role == 'admin' or current_user.role == 'department_head' %>
      <li class="nav-item">
        <a class="nav-link" href="<%=users_list_path %>">User List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%=create_student_path %>">Add Student</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="<%=create_teacher_path %>">Add Teacher</a>
      </li>
        <%end %>
      <%if current_user.role != 'admin' %>
      <li class="nav-item">
        <a class="nav-link" href="<%=mycourses_path %>">My Courses</a>
      </li>
      <%end %>




      <!--        <li class="nav-item" >-->
      <%# if signed_in? %>
      <!--            Signed in as: <%#= current_user.email %>-->

      <%# else %>
      <%#= link_to 'Sign in', sign_in_path , :class=>"nav-link" %>
      <%# end %>
      <!--        </li>-->
    </ul>


  </div>
  <div class="nav-userinfo">
    <%if signed_in? %>
      <% if current_user.name.nil? %>
        <a class="nav-link" href="<%=profile_path%>">Complete Profile</a>
      <%else %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=current_user.name.capitalize%>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="<%=profile_path %>">Profile</a>
            <%= button_to 'Sign out', sign_out_path, method: :delete , class:'dropdown-item text-danger' %>
          </div>
        </div>
      <%end %>
    <%else %>
      <a class="nav-link" href="<%=sign_in_path%>">Sign in</a>
    <%end %>
  </div>
</nav>